<div class="main-view new-channel">


<div class="channel-name-wrapper">
  <label for="channel-name">JOIN</label>
    {{input
        type="text"
        id="channel-name"
        placeholder="#channelname"
        value=name}}
</div>

  <label for="server">Server:</label>
  {{view "select"
    content=allServers
    optionLabelPath="content.name"
    optionValuePath="content.id"
    prompt="Servers:"
    id="server"
    selection=selectedServer}}

<button {{action "save" model}}>Save</button></div>

{{#if saveFailed}}
<div class="save-failed">
  could not save channel
</div>
{{/if}}