<h4>New Server</h4>

<ul>

<li>
  <label for="server-name">Name:</label>
  {{input type="text" id="server-name" placeholder="server name"}}
</li>

<li>
  <label for="host">Host:</label>
  {{input type="text" id="host" placeholder="irc.someserver.net"}}
</li>

<li>
  <label for="name">Port:</label>
  {{input type="text" id="name" placeholder="6667"}}
</li>


</ul>