<ul class="channels nav-items">
{{#each channel in channels}}
  {{ channel-menu-item channel=channel }}
{{/each}}
</ul>

{{#link-to "channels/new" class="create"}}<span class="link-text">JOIN</span> <span class="icon">#</span>{{/link-to}}  
