{{#if channels}}
  <ul class="channels nav-items">
  {{#each channel in channels}}
    {{ channel-menu-item channel=channel part='part' }}
  {{/each}}
  </ul>
{{else}}
  <span class="menu-empty">no joined channels</span>  
{{/if}}

{{#link-to "channels/new" class="create" id="join-channel-button"}}<span class="link-text">JOIN</span> <span class="icon">#</span>{{/link-to}}  
