<ul class="messages">
  {{#each message in channel.messages}}
  <li>
    <span class="time">{{message.shortTime}}</span>
    <span class="nick">{{message.nick}}</span>:
    <span class="contents">{{message.contents}}</span>
  </li>
  {{/each}}
</ul>

{{ message-input
  id='message-input'
  value=messageInput
  send='sendMessage' }}
