<div class="main-view">{{ outlet }}</div>
{{ channel-menu channels=model }}

<div class="modal">
{{!-- {{ outlet 'modal' }} --}}

  <h3>Hello, modal</h3>
  <p>content, content, content</p>

  <ul>
    <li>First thing</l1>
    <li>Second thing</li>
  </ul>

</div>