{{#servers-modal-trigger
  showProperty=showModal
  id="servers-modal-trigger"}}SERVERS{{/servers-modal-trigger}}

<div class="main-view">{{ outlet }}</div>
{{ channel-menu channels=model part="part" }}

{{ servers-modal
  id="servers-modal"
  servers=allServers
  newServer="makeServer"
  saveServer="saveServer"
  connect="connect"
  disconnect="disconnect"
  show=showModal }}
