<ul class="messages">
  {{#each message in model.messages}}
  <li>
    <span class="time">{{message.time}}</span>
    <span class="user">{{message.user.nickname}}:</span>
    <span class="contents">{{message.message}}</span>
  </li>
  {{/each}}
</ul>

{{input
  id='message-input'
  value=messageInput
  action='sendMessage'
  on='keyPress'}}