<div class="menu">
  <h3>Servers</h3>
  <ul class="servers nav-items">
  {{#each server in model}}
    <li>
      {{#link-to "index"}}{{server.name}}{{/link-to}}
    </li>
  {{/each}}

    <li class="new">
      {{#link-to "servers.new"}}Create Server{{/link-to}}
    </li>
  </ul>
</div>

<div class="main-view server">
  {{outlet}}
</div>