<div class="servers-menu">
  <h3>Servers</h3>
  <ul class="servers">
  {{#each server in model}}
    <li>
      {{#link-to "index"}}{{server.name}}{{/link-to}}
    </li>
  {{/each}}

    <li class="create">
      {{#link-to "servers.new"}}Create Server{{/link-to}}
    </li>
  </ul>
</div>

<div class="server-panel">
  {{outlet}}
</div>