html, body {
  margin: 20px;
}

h3 {
  margin-bottom: 0;
}

.servers-menu {
  display: inline-block;

  width: 15%;

  vertical-align: top;
}

ul.servers {
  
}

.server-panel {
  display: inline-block;;
}
