@menu-background-color: #EFEFEF;

@new-channel-link-width: @menu-width * 0.6;
@new-channel-icon-width: 22px;
@new-channel-link-height: 22px;

.servers-edit {
  overflow: hidden;
  padding-left: @menu-width;
}

.channel-menu, .server-menu {
  .background-image(linear-gradient(left, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 89%, rgba(255,255,255,1) 100%));
  // background-color: @menu-background-color;
  // background-image: url( http://api.thumbr.it/whitenoise-361x370.png?background=474747ff&noise=878787&density=100&opacity=15);
  border-right: 1px solid #000000;
  float: left;
  position: relative;
  z-index: 200;

  height: 100%;
  width: @menu-width;
  right: @menu-width;

  margin-left: -100%;
}

ul.channels, .servers {
  font-size: 13px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  li {
    border-bottom: @menu-border;
    background-color: #f2f9ff;
    height: 38px;

    &.active {
      background-color: #FFFFFF;
    }

    a {
      display: block;
      padding: 10px 10px;
    }

  }
}

a.create {

  .border-top-right-radius(4px);
  .border-bottom-right-radius(4px);

  .transition(left 0.5s ease);

  background-color: #008200;
  .background-image(
    linear-gradient(left bottom, #008200 0%,#008a00 18%,#3bab3b 100%));

  color: #FFFFFF;
  font-family: @join-font-family;
  font-size: 22px;
  padding: 6px 5px 10px 0;
  text-align: right;

  position: absolute;
  bottom: 35px;
  left: -1 * (@new-channel-link-width - @new-channel-icon-width);

  width: @new-channel-link-width;
  height: @new-channel-link-height;

  &:hover {
    left: 0px;
  }

  .link-text {
    display: inline-block;
    position: relative;
  }

  .icon {
    display: inline-block;
    font-family: 'Merriweather', serif;
    font-size: 29px;
    line-height: 22px;
    margin-left: 10px;
    margin-top: -3px;

    width: 20px;
  }

}


.server-menu {

  a .link-text {
    top: -7px;
  }

  a .icon {
    font-size: 39px;
    margin-top: 5px;
  }
}
